
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Abhaya Libre', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("/images/backgroundimg.PNG");
    background-size: cover;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
}

.main-nav ul {
    padding: 0;
    list-style-type: none;
}

.main-nav li {
    display: inline;
    text-align: left;
    margin: 0 10px;
}

.main-nav a {
    text-decoration: none;
    color: #5a4634;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.main-nav a:hover {
    color: #a87b5f;
}

.hero {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5a4634;
}

.hero h1 {
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 60px;
    margin: 0;
}

.hero h2 {
    font-family: 'Anton';
    font-size: 80px;
    margin: 20px 0;
}

.cta-buttons {
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 20px;
    text-align: center;
}

.cta {
    color: #5a4634; /* Regular link color */
    text-decoration: none; /* Removes underline from links */
    margin: 0 10px; /* Adjust spacing around links */
    font-weight: normal; /* Adjust as needed */
    cursor: pointer;
}

/* Existing CSS */

/* ... */

/* Media query for tablets */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 48px; /* Smaller font size for tablet */
  }

  .hero h2 {
    font-size: 60px; /* Smaller font size for tablet */
  }

  .cta-buttons {
    font-size: 18px; /* Smaller font size for tablet */
  }
  
  .main-nav li {
    margin: 0 5px; /* Less space between nav items on tablets */
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .main-nav ul {
    display: block;
    text-align: center;
  }
  
  .main-nav li {
    display: block; /* Stack the nav items */
    margin: 10px 0; /* More vertical space between nav items */
  }

  .hero {
    left: 50%;
    top: 30%; /* Adjusted for mobile view */
    transform: translate(-50%, -30%);
    padding: 0 20px; /* Add padding on smaller screens */
  }

  .hero h1 {
    font-size: 36px; /* Smaller font size for mobile */
  }

  .hero h2 {
    font-size: 48px; /* Smaller font size for mobile */
  }

  .cta-buttons {
    font-size: 16px; /* Smaller font size for mobile */
  }
  
  .cta {
    display: block; /* Stack the CTA buttons */
    margin: 10px 0; /* More vertical space between CTAs */
  }
}


.cta:hover {
    color: #a87b5f;
}
