body {


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 1440px;
height: 1024px;



/* Desktop - 1 */

width: 1440px;
height: 1024px;

background: #D6C4B0;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 1 */

position: absolute;
width: 1120px;
height: 646px;
left: 160px;
top: 156px;

background: linear-gradient(101.44deg, rgba(214, 196, 176, 0) 6.59%, rgba(214, 196, 176, 0.65) 35.47%, #70675C 100%);


/* Antique Cafe WINCHESTER */

position: absolute;
width: 354px;
height: 161px;
left: 160px;
top: 237px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 57px;

color: #4B3827;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 23px;

position: absolute;
width: 475px;
height: 30px;
left: 799px;
top: 630px;



/* Afternoon Tea */

width: 195px;
height: 30px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: right;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 1 */

width: 30px;
height: 0px;

border: 1px solid #000000;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Reservation here */

width: 234px;
height: 30px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 916px;
height: 59px;
left: calc(50% - 916px/2 + 231.5px);
top: calc(50% - 59px/2 - 452.5px);



/* Home */

width: 296px;
height: 59px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -141px;


/* Menu */

width: 296px;
height: 59px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px -141px;


/* Night Cafe */

width: 296px;
height: 59px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px -141px;


/* About */

width: 296px;
height: 59px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px -141px;


/* Contact */

width: 296px;
height: 59px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #4B3827;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

]
